<header>
    <h1>{{pageTitle}} - Page</h1>
    <p>
        <a href="/">Home</a>
    </p>
    <p>
        <a href="/about">Abou</a>
    </p>
    <p>
        <a href="/projects">Projects</a>
    </p>
</header>